@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result {
    background: black;
    border: none;
    color: white;
    text-align: end;
    padding: 1rem 2.75rem;
    font-size: 3rem;
}

button {
    background: none;
    border: none;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 2rem;
    width: 75px;
    height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.light-gray {
    background: rgb(149, 149, 149);
    color: black;
}

.gray {
    background-color:rgb(54, 54, 54);
}

.orange {
    background-color: rgb(208, 135, 0);
    color: white;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}


.active {
    background-color: white;
    color: rgb(208, 135, 0);
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.pressed {
    filter: brightness(140%);
    transition: filter 150ms ease-in-out;
}

.equals-button.pressed {
    filter: brightness(120%) !important;

}

.button {
    transition: filter 150ms ease-in-out;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 50px;
    padding: 2rem 1rem;
    height: 600px;
    width: 400px;
    box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 50%);
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: .5rem;
    padding: 1rem;
}

.buttons-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.buttons-row-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: .5rem;
    margin: 0 .5rem;
}

.zero {
    width: calc(150px + .5rem);
    border-radius: 50px;
    text-align: start;
    padding: 0 25px;
}

.plus-minus {
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
}

.smaller-font {
    font-size: 2rem;
}

@media screen and (max-width: 700px) {
    .calculator {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        border: none;
        box-shadow: none;
        scale: 1.1;
    }
    input {
        max-width: 375px;
        align-self: center;
    }
    
    .buttons {
        padding: none;
        height: 450px;
    }
} 
